<form  #Form="ngForm" (ngSubmit)="addData()">
    
    <!--Name TextBox-->
    <div class="form-group">
    <label for="exampleInputName">Name:</label>
        <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="name" #namecontrol="ngModel" required/>
    <!--Name Validation-->
    <span class="alert alert-danger" role="alert" *ngIf="namecontrol.touched && namecontrol.invalid">Name is required</span>
    </div>

    <!--Address TextBox-->
    <div class="form-group">
    <label for="exampleInputAddress">Address:</label>
        <input type="text" class="form-control" id="faddress" name="faddress" [(ngModel)]="address" #addresscontrol="ngModel" required/>
    <!--Address Validation-->
        <span class="alert alert-danger" role="alert" *ngIf="addresscontrol.touched && addresscontrol.invalid">Address is required</span>
    </div>

    <!--Pincode TextBox-->
    <div class="form-group">
    <label for="exampleInputPincode">Pincode:</label>
    <input type="number" class="form-control" id="fpincode" name="fpincode" [(ngModel)]="pincode" #pincodecontrol="ngModel"  required/>
    <!--Pincode Validation-->
    <span class="alert alert-danger" role="alert"  *ngIf="pincodecontrol.touched && pincodecontrol.invalid">Pincode is required</span>
    </div>

    <!--Save Button-->
    <input type="submit" class="btn btn-success" value="Save" />

</form>
<br>
You have Entered: "name" :"{{name}}", "address: "{{address}}" , "PinCode": "{{pincode}}" }<br>
<br>
Form Validation status: "{{status}}"
